h1 {
    color: white;
}
body {
    background-color: purple;
}
.lesson {
    background-color: pink;
}
.concept {
    background-color: white;
}
.concept-title {
    font-size: 22px;
    font-weight: bold;
    text-align: left;
}
.concept-description{
  font-size: 18px;
  font-family: Georgia;
  color: ;
}
.concept{
  background-color: silver;
}


